package templated_codegen

import (
    "github.com/pattyshack/bt/go/tools/template/internal"
)

template Return{
    ind string
    stmt *template.Atom
}

%%
$ind// $(stmt.Loc())
$(ind)return _numWritten, nil
