package templated_codegen

import (
    "github.com/pattyshack/bt/tools/template/internal"
)

template CopySection{
    ind string
    stmt *template.Atom
}

%%
$ind// $(stmt.Loc())
$ind$(stmt.Value)
