package templated_codegen

import (
    "strings"
    "github.com/pattyshack/bt/tools/template/internal"
)

template Embed {
    ind string
    stmt *template.Atom
}

%%
$ind// $(stmt.Loc())
$ind{
$ind	_n, _err := ($(strings.TrimSpace(stmt.Value))).WriteTo(_output)
$ind	_numWritten += _n
$ind	if _err != nil {
$ind		return _numWritten, _err
$ind	}
$ind}
