package templated_codegen

import (
    "github.com/pattyshack/gt/tools/template/internal"
)

template For{
    ind string
    stmt *template.For
}

%%
$ind// $(stmt.Loc())
$(ind)for $(stmt.Predicate.Value) {

    [[-embed &Body{ind + "\t", stmt.Body}-]]
$ind}
